**1-Write a Python program to calculate the length of a string using 2 ways

In [13]:
x="abdo tarek"
print(len(x))

10

In [14]:
length_of_string=0
for i in x:
    length_of_string+=1
print(length_of_string)

10

In [15]:
xx=x+"#"
i=0
while xx[i] !="#":
    i+=1
print(i)

10

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [19]:
x=input()
if len(x)<=2:
    print("Empty String")
else:
    print(x[0]+x[1]+x[len(x)-2]+x[len(x)-1])

Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [27]:
x=input()
if(len(x)>=3):
    if(x[-3:]=="ing"):
        print(x+"ly")
    else:
        print(x+"ing")
else:
    print(x)

ab

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [50]:
def longestword(list):
    longest_word = list[0] 
    for word in list:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word
ff = ["zabccccccvvvdlkokop","abcdfffffeg","abcdfhjk","aaaaaaaaaaaaaaaaaaz;slkjh"]
longest_word = longestword(ff)
print( longest_word)
print( len(longest_word))

aaaaaaaaaaaaaaaaaaz;slkjh
25

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [26]:
strr="kbgjhkjkca"
strr=strr[-1]+strr[1:-1]+strr[0] 
print(strr)

abgjhkjkck

In [28]:
xcv=[]
newstring=""
xcl=0
strr1="abdpsd"
for i in strr1:
    xcv.append(strr1[xcl])
    xcl+=1
xcv[0],xcv[-1]=xcv[-1],xcv[0]
for i in xcv:
    newstring+=i
print(newstring)

dbdpsa

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [12]:
c="axcvbca"
xz=""
xl=0
for i in c:
    if xl %2==0:
        xz+=c[xl]
    xl+=1
print(xz)

acba

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [53]:
cvb="amr and ahmed are frindes but amr is the tallest"
m=cvb.split()
for  i in m:
    print(f"{i} word is repeated",cvb.count(i),"times")

amr word is repeated 2 times
and word is repeated 1 times
ahmed word is repeated 1 times
are word is repeated 1 times
frindes word is repeated 1 times
but word is repeated 1 times
amr word is repeated 2 times
is word is repeated 1 times
the word is repeated 1 times
tallest word is repeated 1 times

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [30]:
vb=input()
print(vb.upper())
print(vb.lower())

ABC
abc

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [35]:
xb=input()
if(len(xb)%4==0):
    print(xb[::-1])

**10- Write a Python program to remove a newline in Python

In [43]:
x='''abdo tarek
hello world
كله تحت الكنترول'''
print(x.replace("\n"," "))

abdo tarek hello world كله تحت الكنترول

**11-Write a Python program to check whether a string starts with specified characters

In [57]:
stt="abood is جضاان"
stt.startswith("abood")

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [65]:
xcz='''
abood
ahmed
gogo'''
print(xcz.replace("\n","\n heloo "))

 heloo abood
 heloo ahmed
 heloo gogo

**13-Write a Python program to print the following numbers up to 2 decimal places

In [77]:
kk=10.57865
print(f"{kk:.2f}")
print(str(kk)[:5:])

-10.58
-10.5

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [85]:
kk=-10.33325
if kk<0:
    print(f"{kk:.2f}")
    print(str(kk)[:6:])

-1252250.33
-12522

**15-Write a Python program to display a number with a comma separator

In [87]:
k=2525050510
print(f"{k:,}")

2,525,050,510

**16-Write a Python program to reverse a string using 2 ways

In [100]:
fhj="abcdfgt"
print(fhj[::-1])
#####################
x=list(reversed(fhj))
xxx=""
for i in x:
    xxx+=i
print(xxx)

tgfdcba
tgfdcba

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [18]:
s = {1: "Abdo", 2: "Tarek", 3: "Salah", 4: "Abdo"}
ccount = {}
for key in s:
    if s[key] in ccount:
        ccount[s[key]] += 1
    else:
        ccount[s[key]] = 1

print("Repeated characters:")
for key, value in ccount.items():
    if value > 1:
        print(f"{key}: {value}")

Repeated characters:
Abdo: 2

**18-Write a Python program to find the first non-repeating character in a given string

In [21]:
print(" non Repeated characters:")
for key, value in ccount.items():
    if value == 1:
        print(f"{key}: {value}")
        break

 non Repeated characters:
Tarek: 1

**19-Write a Python program to remove spaces from a given string

In [101]:
ss="Abdo tarek salah"
print(ss.replace(" ",""))

Abdotareksalah

**20-Write a Python program to count the number of non-empty substrings of a given string

In [26]:
dd="abood marka mosglaa"
d=dd.split()
for f in d:
    print(f"{f} is ",len(f))

abood is  5
marka is  5
mosglaa is  7

**21-write a Python program to swap first and last element of any list.

In [102]:
zzz=[4,5,6,7,8,10]
zzz[0],zzz[-1]=zzz[-1],zzz[0]
zzz

[10, 5, 6, 7, 8, 4]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [103]:
xlist=[23,65,19,90]
pos1=1
pos2=3
xlist[pos1-1],xlist[pos2-1]=xlist[pos2-1],xlist[pos1-1]
xlist

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [106]:
x=[1,2,3]
print(len(x))
################
i=0
for m in x:
    i+=1
print(i)
################
##في طريقة

3
3

**24-write a Python code to find the Maximum number of list of numbers.

In [107]:
llk=[5,4,8,125]
print(max(llk))

125

**25-write a Python code to find the Minimum number of list of numbers.

In [108]:
print(min(llk))

4

**26-search for if an elem is existing in list

In [118]:
kjh=["ff","aa","cc"]
"ff" in kjh

True

**27- clear python list using different ways

In [201]:
wer=[1,5,7,8]
wer.clear
##################
for gg in wer[:]:
    wer.remove(gg)
print(wer)

####################

[]

**28-remove duplicated elements from a list

In [27]:
bn=[2,5,6,4,5,4]
for i in bn:
    if(bn.count(i)>1):
        bn.remove(i)
bn

[2, 6, 5, 4]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [72]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
output1={}
output={}
for i in range(len(test_list)) :
    if i<=1:
        output1[key_list[i]]=test_list[i]
    else:
        output[key_list[i-2]]=test_list[i]
  
listy=[]
listy.append(output)
listy.append(output1)
listy

[{'name': 'is', 'id': 8}, {'name': 'Gfg', 'id': 3}]

**30-write a python program to count unique values inside a list using different ways

In [32]:
bn=[2,5,6,4,5,4]
cx=0
for i in bn:
    if(bn.count(i)==1):
        print(f"{i}")

2
6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [46]:
bn=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=3
cc=[]
for i in bn:
    if(bn.count(i)>=k):
        cc.append(i)
        cc=list(set(cc))

cc

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [20]:
num_input=[1,2,2,3,4,5]
result = []
xlk=min(num_input)
for i in num_input:
    if i != xlk:
        result.append(i)
result

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [24]:
L=[1,2,3]
for i in range(3): 
		for j in range(3): 
			for k in range(3): 
				if (i!=j and j!=k and i!=k): 
					print([L[i], L[j], L[k]])

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [26]:
input_list = [1, 2, 3]
result = []
for i in range(len(input_list)):
    for j in range(i + 1, len(input_list) + 1):
        result.append(input_list[i:j])
result

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [61]:
listt1 = ["a", "b"]
listt2 = [1, 2]
lll = []
for i in range(2):
    for j in range(2):
        if i != j:
            t = (listt1[i], listt2[j-1])
            lll.append(t)
for i in range(2):
    for j in range(2):
        if i != j:
            t = (listt1[i], listt2[j])
            lll.append(t)
lll

[('a', 1), ('b', 2), ('a', 2), ('b', 1)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [8]:
li=[1,1,2,3,4,5,1,2,1]
s=0
for d in li:
    if(d==li[s]):
        li.remove(d)
    s+=1
li

[3, 5, 2, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [73]:
original_list1 =["Gfg", "is", "best"] 
original_list2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
cl=[]
for i in original_list2:
    cl.append(original_list1[i])
cl

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [14]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]  # test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Kka = 5
N = 2
new_list=[]
for i in test_list:
    if (i.count(Kka)==N):
        new_list.append(i)
new_list

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [56]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

for i in range(len(array)):
    print(f"Sorted array specific to column {i}:")
    array.sort(key=lambda x: x[i])
    print(array)
    array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

Sorted array specific to column 0:
[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1:
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2:
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value

In [ ]:
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [23]:
inp={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
po={}
y=sorted(inp)
for p in y:
    po[p]=inp.get(p)
print(po)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [37]:
##test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
#K = 7 
#for t in test_dict:
 #   if (test_dict.get(t)>K):
  #      del test_dict[t]
#test_dict#
#########
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": 4}
K = 7

for t in list(test_dict.keys()):
    if test_dict[t] > K:
        del test_dict[t]

print(test_dict)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 4}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [185]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [179]:
kl={2:4,3:5,6:9}
for f in kl:
    print(kl)

{2: 4, 3: 5, 6: 9}
{2: 4, 3: 5, 6: 9}
{2: 4, 3: 5, 6: 9}

**44- Write a Python script to merge two Python dictionaries

In [177]:
d1 = {1:"abood", 2:"tarek"}
d2 = {3:"love", 4:"gohkjkjl,na"}
d1.update(d2)
print(d1)

{1: 'abood', 2: 'tarek', 3: 'love', 4: 'gohkjkjl,na'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [176]:
dd={1:2,2:4,3:6,3:7}
print(max(dd.values()) )
print(min(dd.values()))

7
2

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [173]:
Original_Dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None}
result = {}
for keyess, values in Original_Dictionary.items():
    if values is not None:
        result[keyess] = values
print(result)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [145]:
numbers = (1, 2, 3, 4, 5)
print(numbers[1])

2

**48-Write a Python program to unpack a tuple into several variables

In [146]:
mytub = (1,2,3,4)
a,b,mrr,c=mytub
print(a)
print(b)
print(c)
print(mrr)

1
2
4
3

**49-Write a Python program to add an item to a tuple

In [144]:
tb=(1,2,3,4)
xck=list(tb)
xck.append(8)
xck=tuple(xck)
print(xck)

(1, 2, 3, 4, 8)

**50-Write a Python program to convert a tuple to a string

In [119]:
ltub = (2, 3, 45, 8, 71, 2, 9)
print(str(ltub))

(2, 3, 45, 8, 71, 2, 9)

**51-Write a Python program to convert a list to a tuple

In [117]:
w=[1,2,3,4,5]
tuple(w)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [116]:
ltub = (2, 3, 45, 8, 71, 2, 9)
print(ltub[::-1])

(9, 2, 71, 8, 45, 3, 2)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [115]:
l_tub = [(2, 3, 4), (5, 8, 7), (1, 2, 9)]
l = (100, 0)
j = 0
zz = []
while j < 3:
    zz.append(l_tub[j][:-1] + l[:-1])
    j += 1

print(zz)

[(2, 3, 100), (5, 8, 100), (1, 2, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [68]:
hj="python 3.0"
jh=[]
for l in hj:
    jh.append(l)
jh=tuple(jh)
jh

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [59]:
tub=(10,20,30,40,50)
print(sum(tub)/len(tub))

25.333333333333332

**56-Write a Python program to add member(s) to a set.

In [53]:
seett={5,4,2,4,7,10,13,77}
seett.add(99)
seett

{2, 4, 5, 7, 10, 13, 77, 99}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [51]:
settt={5,4,2,4,7,10,13,77}
settt.remove(5)
settt

{2, 4, 7, 10, 13, 77}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [147]:
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f | s)
print(f & s)
print(f -s)
print(f^s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [48]:
sett={5,4,2,4,7,10,13,77}
print(max(sett))
print(min(sett))

77
2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [153]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
pairs = []
for i in range(len(input_list)):
        for j in range(i + 1, len(input_list)): ##########
            if input_list[i] + input_list[j] == 10:
                pairs.append((input_list[i], input_list[j]))    
print(f"Pairs with sum 10:", pairs)

Pairs with sum 10: [(1, 9), (2, 8), (3, 7), (4, 6)]