# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [5]:
street=input("enter your street")
city=input("enter your city")
country=input("enter your country")

address=street+ "\n"+city+"\n"+country
adres=f"{street}\n{city}\n{country}"
print("first way is \n"+address)
print("\nsecond way is \n"+adres)

first way is
ahmed
orabi
shoubra

second way is
ahmed
orabi
shoubra

In [21]:
x="Earth revolves around the sun"
print(x[6:14])
print(x[-3::1])

revolves
sun

In [24]:
fruits =int(input("enter fruits"))
vegetables= int(input("Enter vegetables: "))
print(f"I eat {fruits} veggies and {vegetables} fruits daily")

I eat 5 veggies and 10 fruits daily

In [25]:
s="maine 200 banana khaye"
print(s.replace("200","10").replace("banana","samosa"))

maine 10 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [32]:
month=[ 2200,  2350,  2600, 2130, 2190]
print("dollars you spent extra compare to jan is",month[1]-month[0],"dollars")
print("dollars you spent in  first quarter is ",(month[0]+month[1]+month[2]))
if 2000 in month:
    print("You did  spend exactly 2000 dollars in any month.")
else:
     print("You did not  spend exactly 2000 dollars in any month.")
month.append(1980)
print(month)
month[3]-=200
print(month)

dollars you spent extra compare to jan is 150 dollars
dollars you spent in  first quarter is  7150
You did not  spend exactly 2000 dollars in any month.
[2200, 2350, 2600, 2130, 2190, 1980]
[2200, 2350, 2600, 1930, 2190, 1980]

In [4]:
heros=["spider man","thor","hulk","iron man","captain america"]
print(len(heros))
heros.append("black panther")
print(heros)
heros.remove("black panther")
heros.insert(3,"black panther")
print(heros)
heros.remove("thor")
heros.remove("hulk")
heros.insert(1,"doctor strange")
print(heros)
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [2]:
n = 10
i = 1
while i <= n:
     if i%2 != 0:
          print(" "*((n-i)//2),"*" * i)
     i+=1
j=7
while j>=1:
    if j%2 != 0:
           print(" "*((n-j)//2),"*" *j)
    j-=1

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [1]:
n = 5
i = 0
while i < n:
    j = 0
    while j < n - i - 1:
        print(" ", end="")
        j += 1
    j = 0
    while j < 2 * i + 1:
        print("*", end="")
        j += 1
    print()
    i += 1

i = n - 2
while i >= 0:
    j = 0
    while j < n - i - 1:
        print(" ", end="")
        j += 1
    j = 0
    while j < 2 * i + 1:
        print("*", end="")
        j += 1
    print()
    i -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *